
.icon-logo:before { content: '\e800'; } /* '' */
.icon-snow:before { content: '\e801'; } /* '' */
.icon-giraffe:before { content: '\e802'; } /* '' */
.icon-sun:before { content: '\e803'; } /* '' */
.icon-tv:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-diamond:before { content: '\e808'; } /* '' */
.icon-beaker:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */